<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onnet.audiomusicplayer">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioMusicPlayer">
        <activity android:name=".AddSongActivity" />

        <service
            android:name=".services.MusicService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <activity
            android:name=".PermissionActivity"
            android:exported="true"
            android:label="음악 플레이어">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="음악 플레이어" />
        <activity
            android:name=".AddPlayListActivity"
            android:label="재생 목록 만들기" />
        <activity
            android:name=".ViewPlayListActivity"
            android:label="재생 목록" />

        <receiver android:name=".services.MusicService" />
        <receiver android:name=".services.NotificationActionService"/>
        <service android:name=".services.OnClearFromRecentService"/>
    </application>

</manifest>